/* https://cloudninja.pw/docs/wofi.html */
window {
  border: 2px solid black;
  background-color: rgba(15, 15, 15, 0.8);
}

#input {
  color: rgba(219, 219, 219, 1);
  border: 2px solid black;
  background-color: rgba(15, 15, 15, 0.8);
  font-size: 18px;
}

#outer-box {
  margin: 10px;
}

#scroll {
  margin: 5px 0px;
  font-size: 16px;
  color: rgba(180, 180, 180, 1);
}

#scroll label {
  margin: 2px 0px;
}

#entry:selected {
  color: rgba(81, 111, 246, 1);
  background-color: rgba(180, 180, 180, 0.3);
}
